.person {
    width: 80px;
    height: 80px;
    margin: 0 3% 0 7%;
    background-color: #3e3636;
    border: #3E3636 solid 2px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.personInfo {
    line-height: 100%;

    .name {
        font-size: 18px;
        margin: 0;
    }

    .desc {
        margin: 0;
    }
}

@media (min-width:1600px) {
    .person {
        width: 120px;
        height: 120px;
    }

    .personInfo {
        .name {
            font-size: 23px;
        }

        .desc {
            font-size: 20px;
        }
    }
}