.nav {
    display: none;
    position: absolute;
    right: 5vw;
    top: 3vh;
    height: 1vh;
    width: 30%;
    color: #D72323;


    .navItems {
        display: flex;
        list-style: none;
        align-content: center;
        text-align: center;
    }

    .navItem {
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
}

@media (min-width:1024px) {
    .nav {
        display: block;
    }
}