.rightSide {
    transform: translateX(100%);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: ease-in-out 1s;

    &[data-position="in-viewport"] {
        transform: translateX(0);
    }
}